/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
	margin: 0 auto;
	width: 900px;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}
p {
    line-height: 1.4;
}
header{
}
.logo{
	margin-left: 10px;
}
.image{
	width: 375px;
	height: ;
}
.links{
    width: 880px;
    margin: 0px;
    padding: 20px 0px 30px 0px;
    display: flex;
	justify-content: flex-start;
	justify-content: space-around;
}
.links a{
    color: black;
}
.middle-image{
	margin-left: 50px;
}
.collaboration{
	margin-left: -35px;
}
.about{
	word-wrap: break-word;
	border-bottom: 1px dashed black;
	padding: 20px 0px 20px 20px;
	margin-left: 50px;
	margin-right: 50px;
}
.top-content{
	width: 90%;
	display: flex;
	justify-content: space-evenly;
	word-wrap: normal;
	margin: 50px;
}
h2{
	padding-top: 10px;
}
button{
	padding: 15px;
}
p{
	padding-bottom: 15px;
	width: 90%;
	
}
.middle-content{
	width: 90%;
	display: flex;
	justify-content: space-between;
	word-wrap: normal;
	margin: 50px;
}
.bottom-content{
	margin-left: 50px;
	margin-bottom: 25px;
	margin-right: -50px;
}
footer nav a{
	color: white;
	
}
footer nav {
	width: 60%;
	text-align: left;
	display: flex;
	justify-content: space-evenly;
	background-color: black;
	margin-left: 50px;
	margin-right: 30px;
	padding: 15px 20px 15px 0px;
}

button{
	border-radius: 12px;
	background-color: white;
}